// ============================================================================
// General-purpose things
// ============================================================================

// Some variables
$DARK_TEXT: #222;
$LIGHT_TEXT: #ddd;

// Color palettes depending on season
:root,
:root.spring {
  --background-color: #8a8;
  --light-color: #363;
  --dark-color: #252;
}

:root.summer {
  --background-color: #beb774;
  --light-color: #8f8105;
  --dark-color: #6d6203;
}

:root.fall {
  --background-color: #d69c6c;
  --light-color: #a86833;
  --dark-color: #613613;
}

:root.winter {
  --background-color: #8bb3d8;
  --light-color: #446c92;
  --dark-color: #2a3f53;
}

.title-bar {
  margin: 0;
  padding: 5px;
  background-color: #f7b870;
  color: #3c2315;
  border-bottom: 1px solid #b9701c;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  background-color: var(--background-color);
  color: $DARK_TEXT;
}

// Lets us use absolute positioning with the 'floating' sidebars
.relative-reanchor {
  position: relative;
}

// Icons like crop images, gold coin, etc
.inline-icon {
  height: 1em;
  vertical-align: -0.2ex;
}

.after-inline-icon {
  margin-left: 0.3em;
}

// Text at the bottom of the page
.centeredtext {
  margin: 0 auto;
  width: fit-content;
}

// ============================================================================
// Settings sidebar
// ============================================================================

.settings-panel {
  // Pin the sidebar to the left edge of the parent div
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;

  box-sizing: border-box;
  padding: 5px;
  border-right: 2px solid var(--dark-color);
  background-color: var(--light-color);
  color: $LIGHT_TEXT;

  h2 {
    margin: 5px;
    font-size: large;
  }

  // Makes them stretch out to the width of the sidebar
  & input[type="number"],
  select {
    display: block;
    box-sizing: border-box;
    width: 100%;
  }
}

// Spaces the settings apart
.settings-clump {
  margin: 10px 0;
}

.settings-label {
  font-size: small;
}

// Forces checkboxes and such to be on separate lines
.settings-optionbox {
  display: block;
}

// ============================================================================
// Main crop table
// ============================================================================

.main-table {
  // Centers the div
  margin: 0 auto;
  max-width: fit-content;
  overflow-x: auto;
  padding: 10px;

  table {
    // spaces the rows apart from each other
    border-collapse: separate;
    border-spacing: 0 10px;
  }

  td {
    padding: 10px;
    background-color: var(--dark-color);
    color: $LIGHT_TEXT;

    // prevent linebreaks on smaller screens
    white-space: nowrap;

    // lightly separate the cells
    border-left: 1px dashed var(--light-color);

    // Rounded corners on the rows is tricky; <tr> doesn't take this property.
    // Instead, do it by putting rounded corners on the first and last <td> elements.
    &:first-child {
      border-left: none; // also, don't draw the dashed border here
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    &:last-child {
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
    }
  }

  // Because of that border radius trick, to change the background color on a row, we
  // instead have to change it on all the child <td> elements.
  tr.disabled td {
    background-color: #444;
    color: #666;
  }

  th {
    padding: 0 10px;
    font-weight: bold;
    text-align: center;
  }
}

// Put arrows next to header while sorting
table.sortable thead th[aria-sort="descending"]::after {
  content: "▼";
  color: currentcolor;
  padding-left: 0.2em;
}

table.sortable thead th[aria-sort="ascending"]::after {
  content: "▲";
  color: currentcolor;
  padding-left: 0.2em;
}

// ============================================================================
// Details panel
// ============================================================================

.details-panel {
  // TODO: how can i get this to stick to the side of the crop table?
  position: absolute;
  top: 5px;
  right: 5px;
}

.crop-sidetable {
  background-color: var(--light-color);
  border: 2px solid var(--dark-color);
  color: $LIGHT_TEXT;

  padding: 10px;
  border-radius: 15px;

  table {
    border-collapse: collapse;
  }

  td {
    padding: 5px 10px;
    border-top: 1px solid var(--background-color);
  }
}
